# =========================
# KiCad (recursive)
# =========================

# Temp / backup files
**/*.000
**/*.bak
**/*.bck
**/*.tmp
**/*~
**/~*
**/_autosave-*
**/#auto_saved_files#
**/#auto_saved_files\#
**/*-bak*
**/*-save.*

# KiCad specific backups
**/*-backups/
**/*-backups/*.zip

# KiCad cache
**/*-cache*
**/fp-info-cache

# KiCad local settings (DO NOT COMMIT)
**/*.kicad_prl

# Lock files
**/~*.lck

# =========================
# Outputs (optional)
# =========================

# Netlists
**/*.net

# Autorouter
**/*.dsn
**/*.ses

# BOM exports
**/*.xml
**/*.csv

# =========================
# YOUR SPECIAL CASES
# =========================

# 🚨 Datasheets and co
docs/

# 🚨 Firmware
firmware/*.bin
firmware/*.bif

**/K3D-SM3ZS067U310AE_v01_JAE_Proprietary.STEP

# =========================
# OS / Editor junk
# =========================

.DS_Store
Thumbs.db
